*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif; 
color: #ffffff;
}
.main-image {
background: url("img/winterforest.jpg");
background-position: center bottom;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0 1rem;
text-align: center;
}
.main-image h1{
font-size: 4rem;
margin-bottom: 1rem;
}
.main-image .tachado{
text-decoration: line-through;
}
.main-image p{
font-size: 1.5rem;
margin-bottom: 3rem;
}
.main-image button{
background: none;
color:#ffffff;
border: 2px solid #ffffff;
border-radius: 3px;
padding: 1rem 2rem;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}
.main-image button:hover {
    background-color: #ffffff;
    color: #36374d;
  }